.button {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    padding: 20px 48px;
    margin: 90px auto 0;
    @include btn (getColor("text"), transparent, 1px solid getColor("text") );
}